.FloorMap {
  width: 1150px;
  height: auto;
  fill: none;
  margin-top: 50px;
}

.Vertex {
  opacity: 0;
  fill: #e4e4e4;
  cursor: pointer;
  position: relative;
}

.Vertex--active {
  opacity: 1;
  position: relative;
  fill: #2ecc71;
  cursor: default;
}

.Edge {
  fill: #2ecc71;
  opacity: 0;
}

.Object {
  fill: #d6ebff;
  stroke: #87b6e2;
  transition: 0.1s all;

  &:hover {
    cursor: pointer;
    fill: #b2d5f6;
  }
}
