.FloorMap {
  width: 1150px;
  height: auto;
  fill: none;
  margin-top: 50px;
}

.Floor {
  fill: var(--floor);
}
.Floor-border {
  stroke: var(--floor-stroke);
}

.Vertex {
  opacity: 0;
  fill: var(--vertex);
  cursor: pointer;
  position: relative;
}

.Vertex--active {
  opacity: 1;
  position: relative;
  fill: var(--green);
  cursor: default;
}

.Edge {
  fill: var(--green);
  opacity: 0;
}

.Object {
  fill: var(--object-fill);
  stroke: var(--object-stroke);
  transition: 0.1s all;

  &:hover {
    cursor: pointer;
    fill: var(--object-fill--hover);
  }
}
