@import "styles/themes.scss";

.Main {
  background: var(--map-bg);
  width: 100%;
  height: 100%;
  position: relative;

  .Controls {
    .ControlsUpperLeft {
      left: 30px;
      position: absolute;
      z-index: 2;
      top: 30px;
      display: flex;

      .PathPreview {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        background: var(--pathPreview-bg);
        color: var(--pathPreview-text);
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
        transition: 0.1s all;
        padding-left: 30px;
        opacity: 0;
        visibility: hidden;
        border-left: 5px solid var(--green);

        .PathPreview-button {
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0;
          background: var(--pathPreview-button);
          color: var(--close-red);
          font-size: 1.4rem;
          position: relative;

          &::after {
            content: "";
            left: 2px;
            display: block;
            position: absolute;
            height: 30px;
            width: 1px;
            background: var(--input-separator);
          }

          &:hover {
            cursor: pointer;
          }
        }

        .PathPreview-info {
          padding-right: 100px;

          .PathPreview-title {
            font-weight: 600;
            font-size: 1.4rem;
          }
        }
      }

      .PathPreview--active {
        opacity: 1;
        visibility: visible;
      }

      .ControlsSearch {
        display: flex;
        align-items: center;

        .ControlsSearch-form {
          margin-left: 30px;
          display: flex;
          position: relative;
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);

          .ControlsSearch-icon {
            position: relative;
            height: 50px;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            background: var(--searchProduct-input);
            font-size: 0.8rem;
            color: var(--primary);

            &::after {
              content: "";
              right: 0;
              display: block;
              position: absolute;
              height: 30px;
              width: 1px;
              background: var(--input-separator);
            }
          }
          .ControlsSearch-inputGroup {
            position: relative;

            .ControlsSearch-input {
              height: 50px;
              width: 250px;
              font-size: 1.4rem;
              padding: 0 20px;
              background: var(--searchProduct-input);
              color: var(--searchProduct-input-color);

              &::placeholder {
                color: var(--input-placeholder);
              }
            }

            .Autocomplete {
              position: absolute;
              left: 0px;
              top: 50px;
              font-size: 1.4rem;
              background: var(--autocomplete-bg);
              width: 250px;
              border: 1px solid var(--autocomplete-border);
              box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);

              .Autocomplete-list {
                list-style-position: inside;
                list-style-type: none;
                max-height: 180px;
                overflow-y: scroll;

                .Autocomplete-listItem {
                  padding: 10px 20px;
                  color: var(--autocomplete-text);

                  &:hover {
                    background: var(--autocomplete-hover);
                    cursor: pointer;
                  }

                  &:not(:first-child) {
                    border-top: 1px solid var(--autocomplete-border);
                  }
                }

                &::-webkit-scrollbar {
                  width: 5px;
                }

                &::-webkit-scrollbar-track {
                  background-color: var(--scrollbar-track);
                  border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb {
                  background-color: var(--scrollbar-thumb);
                  border-radius: 10px;
                }
              }

              .Autocomplete-loader {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
              }

              .Autocomplete-empty {
                text-align: center;
                color: var(--autocomplete-text);
                padding: 10px;
              }
            }
          }

          .ControlsSearch-submit {
            height: 50px;
            width: 50px;
            color: var(--searchProduct-submit-color);
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            background: var(--searchProduct-submit-bg);
            font-size: 1.8rem;
            cursor: pointer;
            transition: 0.3s all;
          }

          .ControlsSearch-submit--disabled {
            background: var(--button-disabled);
          }

          .ControlsSearch-input,
          .ControlsSearch-submit {
            border: 0;
          }
        }
      }
    }

    .ControlsUpperRight {
      right: 30px;
      position: absolute;
      z-index: 2;
      top: 30px;
    }

    .ControlsLowerRight {
      right: 30px;
      position: absolute;
      z-index: 2;
      bottom: 30px;

      .ControlsButtons {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    .ControlsButton {
      width: 50px;
      height: 50px;
      border: 0;
      font-weight: 600;
      border-radius: 5px;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      transition: 0.1s all;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    .ControlsButton--tooltip {
      &:before {
        content: attr(data-text);
        position: absolute;
        font-size: 1.2rem;
        right: 60px;
        height: 50px;
        top: 0;
        border-radius: 5px;
        min-width: 100px;
        background: var(--button-tooltip-bg);
        color: var(--button-tooltip-color);
        text-align: center;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
      }

      &:after {
        content: "";
        display: none;
        position: absolute;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #000;
        right: 55px;
      }

      &:hover:before,
      &:hover:after {
        display: flex;
      }
    }

    .ControlsButton--hamburger {
      background: var(--primary--light);
      color: var(--button-color);
    }

    .ControlsButton--hamburgerActive {
      background: var(--primary);
      color: var(--button-color);
    }

    .ControlsButton--zoom {
      background: var(--primary--light);
      color: var(--button-color);
    }

    .ControlsButton--user {
      background: var(--primary--light);
      color: var(--button-color);
      position: relative;
    }
    .ControlsButton--editMode {
      background: var(--button-editMode);
      color: var(--button-color);
    }

    .ControlsButton--options {
      background: var(--primary);
      color: var(--button-color);
    }

    .ControlsButton--closePreview {
      color: var(--close-red);
      color: var(--button-color);
      background: 0;
      border-radius: 50px;
      width: 30px;
      height: 30px;
    }
  }

  .Map {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
