@import "styles/themes.scss";

.Modal--settings {
  width: 550px;
  padding: 30px 30px;
  border-radius: 7px;
  background: var(--modal-bg);
  outline: 0;

  .Settings {
    .Settings-title {
      font-size: 2.6rem;
      font-weight: 400;
      margin-bottom: 30px;
      color: var(--modal-text);

      &::after {
        content: "";
        display: block;
        margin-top: 10px;
        width: 100%;
        height: 1px;
        background: var(--modal-settings-titleUnderline);
      }
    }

    .SettingsItem {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .SettingsItem-info {
        .SettingsItem-title {
          font-weight: 600;
          color: var(--modal-text);
        }

        .SettingsItem-text {
          color: var(--modal-text-light);
          font-size: 1.4rem;
        }
      }

      .SettingsItem-input {
        display: flex;
        align-items: center;
      }

      .SelectLang {
        border: 1px solid var(--modal-settings-langBorder);
        background: var(--modal-settings-langBg);
        color: var(--modal-settings-langColor);
        padding: 10px;
        border-radius: 5px;
      }

      .Switch {
        .Switch-input {
          &:checked + .Switch-label {
            background: var(--primary);
          }

          &:checked + .Switch-label:after {
            left: calc(100% - 5px);
            transform: translateX(-100%);
          }

          &:focus + .Switch-label {
            outline: var(--modal-switch-outline) solid 2px;
          }
        }

        .Switch-label {
          cursor: pointer;
          width: 60px;
          height: 30px;
          background: var(--modal-switch-bg);
          display: block;
          border-radius: 100px;
          position: relative;

          &:after {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            width: 20px;
            height: 20px;
            background: var(--modal-switch-dot);
            border-radius: 90px;
            transition: 0.3s;
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}
