@import "styles/themes.scss";

.Sidebar {
  width: 0;
  background: var(--sidebar-bg);
  min-height: 100vh;
  flex-shrink: 0;
  display: flex;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.2s;
  position: relative;

  .Header {
    padding-bottom: 40px;

    .Header-title {
      font-size: 2.8rem;
      font-weight: 400;
      color: var(--sidebar-headerTitle);
    }

    .Header-text {
      font-size: 1.2rem;
      color: var(--sidebar-headerText);
    }
  }

  .Buttons {
    display: flex;
    padding-bottom: 40px;

    .Button {
      height: 50px;
      width: 100%;
      background: var(--sidebar-buttonSecond-bg);
      color: var(--sidebar-buttonSecond-text);
      border: 0;
      font-weight: 700;
      font-size: 1.4rem;
      border-radius: 5px;
      transition: 0.1s;

      &:hover {
        cursor: pointer;
        background: var(--sidebar-buttonSecond-bg--hover);
      }

      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(even) {
        margin-left: 10px;
      }
    }

    .Button--active {
      background: var(--sidebar-buttonMain-bg);
      color: var(--sidebar-buttonMain-text);

      &:hover {
        background: var(--sidebar-buttonMain-bg--hover);
      }
    }
  }

  .Categories {
    flex-grow: 1;
    margin-bottom: 40px;
    overflow-y: scroll;
    padding-right: 20px;
    display: none;

    .CategoryHeader {
      padding-bottom: 10px;

      .CategoryHeader-title {
        font-weight: 700;
        font-size: 2.4rem;
        text-transform: uppercase;
        color: var(--sidebar-category-letter);

        .CategoryHeader-results {
          font-weight: 400;
          font-size: 1.6rem;
          padding-left: 8px;
          text-transform: lowercase;
          color: var(--sidebar-category-results);
        }
      }
    }

    .Categories-loader {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Category {
      margin-bottom: 20px;

      .CategoryGroup {
        .CategoryItem {
          background: var(--sidebar-categoryItem-bg);
          border-radius: 5px;
          height: 70px;
          margin-bottom: 10px;
          display: flex;
          padding: 5px;

          .CategoryItem-photo {
            width: 60px;
            height: 60px;
            border-radius: 5px;
            background: var(--sidebar-categoryItem-photo);
          }

          .CategoryItem-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 15px;
            text-transform: capitalize;

            .CategoryItem-title {
              font-size: 1.6rem;
              color: var(--sidebar-categoryItem-title);
            }
            .CategoryItem-subTitle {
              font-size: 1.2rem;
              color: var(--sidebar-categoryItem-text);
            }
          }

          .CategoryItem-link {
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            color: var(--sidebar-categoryItem-itemLink);
            font-size: 3rem;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-track);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: 10px;
    }
  }

  .Categories--active {
    display: block;
  }

  .Footer {
    .Footer-text {
      text-align: center;
      font-size: 1.4rem;
      color: var(--sidebar-footer);
    }
  }

  .Header,
  .Search,
  .Buttons,
  .Footer {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Header {
    padding-top: 40px;
  }

  .Categories {
    margin-left: 30px;
    margin-right: 30px;
  }

  .Footer {
    padding-bottom: 40px;
  }
}

.Sidebar--active {
  width: 450px;
}
