@import "styles/themes.scss";

.Map {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Object--active {
  fill: #2ecc71;
  stroke: #27ae60;
}

.LoadingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .Loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .Loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #1b78d0;
    border-radius: 50%;
    animation: Loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #1b78d0 transparent transparent transparent;
  }

  .Loader div:nth-child(1) {
    animation-delay: -0.45s;
  }

  .Loader div:nth-child(2) {
    animation-delay: -0.3s;
  }

  .Loader div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes Loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
