@import "styles/themes.scss";

.Layout {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.SkipLink {
  background: var(--primary);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  padding: 10px 20px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  text-align: center;
  z-index: 1000;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--skiplink-text);
}

.SkipLink:focus {
  transform: translateY(0%);
}
